[Unit]
Description=Caddy HTTP/2 web server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/caddy/caddy --conf=/usr/local/caddy/Caddyfile -agree=true
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-abnormal

; Use graceful shutdown with a reasonable timeout
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target